body {
  background-color: #e4f0f1;
  text-align: center;
}

button {
  margin: 20px 0 14px 0;
  font-size: 17px;
  font-family: monospace;
  border: 1px solid #5a94ab;
  border-radius: 4px;
  color: #283c44;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.app-div-like {
  filter: brightness(1.3);
}

.app-icon-like {
  font-size: 25px;
  color: #b3b3b3;
}

.app-icon-like:hover {
  cursor: pointer;
  opacity: 0.7;
}

.app-icon-like-down {
  color: #f990ad;
}

.app-div-content {
  margin: 10px;
  display: inline-block;
  text-align: center;
  width: 200px;
}

.app-div-hide {
  display: none;
}

.app-icon-trash {
  font-size: 25px;
  color: #b3b3b3;
  margin-left: 11px;
  margin-top: 7px;
}

.app-icon-trash:hover {
  cursor: pointer;
  opacity: 0.7;
}

.app-div-img {
  border: 1px solid #96a4b5;
}

.app-filter-icon {
  margin-left: 5px;
  font-size: 13px;
  padding-bottom: 1px;
}

.ant-tooltip-inner {
  background-color: #d38fa159;
  color: #314e52;
}

.ant-tooltip-arrow-content {
  --antd-arrow-background-color: #c17f7fbf;
}